@media screen and (max-width: 640px){
html, body {
    font-size: 22px;
}

.box__item {
    width: 100%;
    margin: 0;
    border-bottom: 3px solid #555555;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.box__btn {
    font-size: 20px;
}

}

@media screen and (max-width: 320px){
html, body {
    font-size: 24px;
}
.header {
    background-color: rgb(13, 79, 201);
    color: rgb(180, 180, 180);
}

.box__item {
    background-color: rgb(51, 51, 51);
    color: rgb(180, 180, 180);
}
.box__btn {
    background-color: rgb(209, 153, 0);
}
}

/* .............................. */
